
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'arial';
}

.tree{
    position: absolute;
    right: -0%;
    top: -10%;
    width: 150px;
}
/* header */
header{
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;
}
#active{
    color: #000;
    font-weight: 600;
}
.burger{
    display: none;
    font-size: 2.5rem;
    cursor: pointer;
}
.closeBurger{
    display: none;
    cursor: pointer;
    font: 2rem;
}
header ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
header ul li{
    list-style: none;
}
header ul li a{
    text-decoration: none;
    color: #6C6C6C;
    font-size: 1.25rem;
    transition: 0.5s;
}
header ul li a:hover{
    color: #000;
}
header .donate{
    text-decoration: none;
    color: black;
    font-size: 1.25rem;
    padding: 10px 15px;
    border-radius: 30px;
    background-color: #6C4C9E;
    transition: .5s;
    color: white;
    z-index: 1;
}


/* main */
main{
    max-width: 80%;
    margin: 0 auto;
}
main h2{
    margin-top: 5rem;
    margin-bottom: 2rem;
    color: #E27405;
    font-size: 48px;
    width: 600px;
}
main .container{
    display: flex;
    align-items: center;
}
main .container_left{
    flex: 0.5;
}
main .container_left form{
    width: 80%;
    border: 3px solid black;
    border-radius: 20px;
    background-color: rgb(251, 212, 218);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 2rem;
}
main .container_left form h5{
    font-size: 32px;
    font-weight: 500;
}
main form .inputField{
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
main form .inputField h6{
    font-size: 16px;
    color: #2F2C2C;
    align-items: start;
    gap: 5px;
    display: flex;
}
main form .inputField input{
    height: 56px;
    border-radius: 7px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    outline: none;
    border: none;
}
main form .forget{
    display: block;
    width: 100%;
}

main form .forget a{
    color: #6C4C9E;
    text-decoration: none;
    font-size: 14px;
    margin: 0;
}
main form button{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 56px;
    border-radius: 37px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #6C4C9E;
    color: white;
    font-size: 16px;
}
main form .signup{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 5px;
}
main form .signup h5{
    font-size: 14px;
    color: #6C6C6C;
}
main form .signup a{
    text-decoration: none;
    color: #6C4C9E;
    font-weight: 600;
    font-size: 14px;
}
main .container_right{
    flex: 0.5;
}

/* About Poofo */
section{
    margin-top: 100px;
    margin-bottom: 131px;
}
section h2{
    text-align: center;
    width: 100%;
    color: #4D54FB;
    font-size: 48px;
}
.cards{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    margin: 0 4rem;
}
.card{
    position: relative;
    display: flex;
    align-items: center;
    gap: 16px;
    background-color: #F7F8F9;
    border-radius: 16px;
    box-shadow: 0 0 10px grey;
}
.card svg{
    width: 50px;
    left: 5px;
    top: 10%;
    position: absolute;
}
.card p{
    display: flex;
    padding: 16px 16px 16px 70px;
}

/* footer */
footer{
    background-color: #FFEEF0;
    width: 100%;
}
footer p{
    text-align: center;
    color: #858282;
    font-size: 16px;
    padding-bottom: 16px ;
}
.footer_flex{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding: 48px 156px;
}

.footer_flex .ul1{
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 2rem 0;
}
.footer_flex .ul1 li{
    list-style: none;
}
.footer_flex .ul1 li a{
    color: #6C6C6C;
    text-decoration: none;
    font-size: 1.5rem;
}


.footer_flex .ul2{
    padding: 2rem 0;
    display: flex;
    gap: 48px;
    justify-content: center;
}
.footer_flex .ul2 li{
    list-style: none;
}
.footer_flex .ul2 li a{
    color: #6C6C6C;
    text-decoration: none;
}
.footer_flex img{
    width: 222px;
    height:64px
}
@media only screen and (max-width: 1400px) {
    /* main */
    main .container_right img{
        width: 500px;
    }
    main form .signup h5{
        font-size: 1rem;
    }
}
@media only screen and (max-width: 1200px) {
    /* header */
    .burger{
        display: block;
    }
    .closeBurger{
        display: block;
    }
    header ul{
        position: absolute;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        background-color: #d0d0d0;
        width: 100%;
        height: 100vh;
        top:0;
        left:0;
        right:0;
        bottom:0;
        z-index: 100;
    }
    header ul.show {
        display: flex;
      }
    header ul li a{
        font-size: 1.5rem;
    }

    /* main */
    main h2{
        width: 100%;
        text-align: center;
    }
    main .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    .container_left{
        width: 50%;
    }
    main .container_left form{
        width: 100%;
        margin: 0;
    }

    /* About Poofo */
    .cards{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 2rem;
        margin: 0 4rem;
    }
    .card p{
        display: flex;
        padding: 36px 16px 36px 70px;
    }
    /* footer */
    .footer_flex .ul2{
        padding: 1rem 0;
        gap: 20px;
    }
    
}
@media only screen and (max-width: 740px) {

    /* main */
    main h2{
        width: 100%;
    }
    .container_left{
        width: 100%;
    }

    /* About Poofo */

    .card svg{
        display: none;
    }
    .card p{
        padding: 16px;
    }
    
    /* footer */
    .footer_flex{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}
@media only screen and (max-width: 500px) {
    .container_right{
        display: none;
    }
    /* About Poofo */

    section h2{
        font-size: 28px;
    }
    .cards{
        grid-template-columns: repeat(1,1fr);
        margin: 0 2rem;
    }
    
    /* footer */
    footer{
        background-color: #FFEEF0;
        width: 100%;
        justify-content: center;
        text-align: center;
    }
    .footer_flex{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .footer_flex .ul2{
        flex-direction: column;
        padding: 0;
        gap: 10px;
        align-items: center;
    }
    
}